<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <h4>Are you sure you want to delete the post?</h4>
    <form method="POST" action="/posts/<%= post.id %>/delete?_method=DELETE">
        <button>Yes</button>
    </form>

    <a href="/posts/">
        <button type="button">No, Go Back</button>
    </a>

</body>
</html>